@model IEnumerable<IssueTracker.Models.IssueLogInvolvedPersonListingModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<!-- Modal placeholder -->
<div id="modal-placeholder"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaisedByName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RaisedByName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedDate)
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#view-issue" data-url="@Url.Action("View","InvolvedPerson", new { id = item.Id })">
                        View
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
