@using IssueTracker.Data.Models
@model IssueTracker.Models.IssueLogListingModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Issue Log</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input id="txtId" type="hidden" asp-for="Id" />
            <input id="txtCompany" type="hidden" asp-for="CompanyId" />
            <input id="txtProject" type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input disabled asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input disabled asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Header" class="control-label"></label>
                <input asp-for="Header" id="txtHeader" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" id="txtBody" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" id="txtNote" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label>
                <input asp-for="IssueDate" id="dtpIssueDate" class="form-control" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" id="comboPriority" asp-items="Html.GetEnumSelectList<EnumIssuePriority>()" class="form-control">
                    <option selected="selected" value="">Select a priority</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueType" class="control-label"></label>
                <select asp-for="IssueType" id="comboIssueType" asp-items="Html.GetEnumSelectList<EnumIssueType>()" class="form-control">
                    <option selected="selected" value="">Select a type</option>
                </select>
                <span asp-validation-for="IssueType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueLogInvolvedPersonId" class="control-label"></label>
                <select id="comboInvolvedPerson" asp-for="IssueLogInvolvedPersonId" asp-items="@(new SelectList(Model.ApplicationUserListingModels, "Id", "Name"))" class="form-control">
                    <option value="">Select a person</option>
                </select>
                <table id="tableIssueInvolvedPerson" class="table table-bordered">
                    <thead>
                        <tr>
                            <td style="display:none;">Id</td>
                            <td style="display:none;">UserId</td>
                            <td>Name</td>
                            <td>Email Address</td>
                            <td>Designation</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in Model.IssueLogInvolvedPersons)
                        {
                        <tr>
                            <td style="display:none;">@person.Id</td>
                            <td style="display:none;">@person.UserId</td>
                            <td>@person.UserName</td>
                            <td>@person.EmailAddress</td>
                            <td>@person.Designation</td>
                            <td>
                                <button type="button" id="@person.UserId" class="btn btn-danger">Remove</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label asp-for="TaskHour" class="control-label"></label>
                <input asp-for="TaskHour" id="txtTaskHour" class="form-control" />
                <span asp-validation-for="TaskHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="btnSubmit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#comboInvolvedPerson').on('change', function () {
            var issueInvolvedPersonId = $('#comboInvolvedPerson option:selected').val();
            $.ajax({
                    type: 'GET',
                    url: '@Url.Action("FindInvolvedPerson", "IssueLog")?issueInvolvedPersonId=' + issueInvolvedPersonId,
                    success: function (result) {
                        $('#tableIssueInvolvedPerson')
                            .append('<tr><td style="display:none;">0</td><td style="display:none;">' + result.id + '</td><td>' +
                            result.name + '</td>><td>' + result.emailAddress + '</td>><td>'
                            + result.designation + '</td><td><button type="button" id="' + result.id + '"  class="btn btn-danger">Remove</button></td></tr>');
                    }
                });
        });

        $('#tableIssueInvolvedPerson').on('click', 'button.btn.btn-danger', function () {
            $(this).parents('tr').remove();

        });

        $("#btnSubmit").click(function () {
            var involvedPersons = new Array();
            var issueLogListingModel = {};

            issueLogListingModel.Id = $("#txtId").val()
            issueLogListingModel.ProjectId = $("#txtProject").val();
            issueLogListingModel.IssueDate = $("#dtpIssueDate").val();
            issueLogListingModel.Header = $("#txtHeader").val();
            issueLogListingModel.Body = $("#txtBody").val();
            issueLogListingModel.Note = $("#txtNote").val();
            issueLogListingModel.Priority = $("#comboPriority").val();
            issueLogListingModel.TaskHour = $("#txtTaskHour").val();
            issueLogListingModel.IssueType = $("#comboIssueType").val();

            $("#tableIssueInvolvedPerson tbody tr").each(function () {
                var row = $(this);
                involvedPersons.push(row.find("td").eq(1).html());
            });
            issueLogListingModel.IssueLogInvolvedPersonIds = involvedPersons;

            $.ajax({
                type: "POST",
                url: "/IssueLog/Edit",
                data: JSON.stringify({
                    'Id': issueLogListingModel.Id,
                    'ProjectId': issueLogListingModel.ProjectId,
                    'IssueDate': issueLogListingModel.IssueDate,
                    'Header': issueLogListingModel.Header,
                    'Body': issueLogListingModel.Body,
                    'Note': issueLogListingModel.Note,
                    'Priority': issueLogListingModel.Priority,
                    'TaskHour': issueLogListingModel.TaskHour,
                    'IssueType': issueLogListingModel.IssueType,
                    'IssueLogInvolvedPersonIds': issueLogListingModel.IssueLogInvolvedPersonIds.join()
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    window.location.href = data.redirectTo;
                }
            });
        });
    });
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>
